@use "../../styles/breakpoints.scss";

.Header {
    background: #e1eaf3;
    
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;

    font-family: var(--heading-font);

    margin-bottom: 2rem;

    position: sticky;
    top: 2rem;
    z-index: 0;
    margin-bottom: 0;

    .corner {
        display: none;
    }

    .inner {
        padding: 1rem;

        max-width: fit-content;
        margin: 0 auto;

        .masthead {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;

            font-size: 4.7vw;
        
            margin-bottom: 1rem;

            .separator {
                margin: 0 0.5rem;
            }
        }
    }
}

@media (min-width: breakpoints.$mobile) {     
    .Header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;

        position: relative;
        top: 0;

        text-align: right;

        width: calc(38% - 1rem);
        margin: 0 1rem 0 0;

        .corner {
            background-color: transparent;
            
            border-top: 2rem solid white;
            border-right: 2rem solid transparent;
            
            display: block;
    
            height: auto;
            width: auto;
    
            position: absolute;
            left: 0;
        }

        .inner {
            position: sticky;
            top: 2rem;

            max-width: none;
            margin: 0;
        
            .masthead {
                flex-direction: column;

                font-size: 3.3vw;
        
                word-spacing: 9999px;

                .separator {
                    display: none;
                }

                .title {
                    font-size: 2.46vw;
                }
            }
        }
    }
}

@media (min-width: breakpoints.$laptop) {
    .Header {
        margin: 0 2rem 0 0;

        width: calc(38% - 2rem);

        .corner {
            border-top: 4rem solid white;
            border-right: 4rem solid transparent;
        }

        .inner {
            top: 0;
        }
    }
}