@use "../../styles/breakpoints.scss";

.Summary {
    border-bottom: solid 2px #6a747d;
    
    padding-bottom: 2rem;
}

@media (min-width: breakpoints.$mobile) {   
    .Summary {
        border: none;

        padding-left: 1rem;
    }
}