@use "../../styles/breakpoints.scss";

.Summary {
    border-bottom: solid 2px;
    
    padding-bottom: 2rem;
}

@media (min-width: breakpoints.$mobile) {   
    .Summary {
        border: none;

        padding: 0;
    }
}