@use "../../styles/breakpoints.scss";

.ContactForm {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .field {
        width: 100%;
    }
}

.field {
    display: flex;       
    flex-direction: column;
    
    margin-bottom: 1em;
}

.label {
    margin-bottom: 0.25em;
}

.message {
    aspect-ratio: 2.4 / 1;
}

.button {
    background: #6a747d;
    border: none;
    color: white;

    cursor: pointer;

    font-family: var(--text-font);

    padding: 0.5em;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #505A5E;   
    }
}

@media (min-width: breakpoints.$mobile) {   
    .row {
        flex-direction: row;

        .field {
            width: calc(50% - 0.5rem);
        }
    }
}