@use "../../styles/breakpoints.scss";

.container {
    font-family: var(--text-font);
    position: relative;
    top: 2rem;
}

@media (min-width: breakpoints.$laptop) {
    .container {
        top: 0;
    }
}