@use "../../styles/breakpoints.scss";

.introduction {
    display: flex;
    flex-direction: column;
}

.photo {
    display: block;
	width: calc(62%);
	margin: 0 auto 2rem;
}

.main {
    background-color: white;
    
    display: flex;
    flex-direction: column-reverse;

    position: relative;

    z-index: 1;
}

.sectionHeader {
    border-bottom: solid 2px #363636;

    padding-bottom: 0.25rem;

    font-family: var(--heading-font);
}

.skills {
    display: block;
}

.experience { display: block; }

.education { display: block; }

@media (min-width: breakpoints.$mobile) {     
    .Resume {
        padding: 2rem;
    }
    
    .introduction {
        flex-direction: row;

        margin-bottom: 2rem;
    }

    .profile {
        width: calc(62% - 1rem);
        margin-left: 1rem;
    }

	.photo {
		margin: 0 0 2rem;
	}

    .skills {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: breakpoints.$laptop) {
    .Resume {
        max-width: 1440px;

        margin: 2rem auto;
        padding: 2rem 0;

        width: 62%;
    }

    .introduction {
        margin-bottom: 4rem;
    }

    .profile, .content {
        width: calc(62% - 2rem);
        margin-left: 2rem;
    }

    .photo {
        margin-bottom: 4rem;
    }

    .main {
        flex-direction: row;

        padding: 0;
    }

    .sectionHeader {
        border-bottom: solid 3px #363636;

        
        width: fit-content;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        position: sticky;
        top: 0;

        height: fit-content;

        margin-right: 2rem;
        width: calc(38% - 2rem);
    }
}