@use "../../styles/breakpoints.scss";

$safe-area-top: env(safe-area-inset-top);
$safe-area-right: env(safe-area-inset-right);
$safe-area-bottom: env(safe-area-inset-bottom);
$safe-area-left: env(safe-area-inset-left);


.Resume {
    padding: $safe-area-top $safe-area-right 0 $safe-area-left;

    background-color: white;

    border-bottom: solid 2px #6a747d;

    @media (orientation: portrait), 
        (min-width: breakpoints.$tablet) and (max-aspect-ratio: 2 / 1) {
        margin-bottom: var(--resume-marginTop);
    }
}

.profile {
    background: white;
    border-top: solid 2px #6a747d;
    
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;

    position: relative;
}

.introduction {
    display: flex;
    flex-direction: column;
}

.photo {
    display: block;
	
	margin: 0 auto 2em;

    width: calc(62%);
}

.main {
    background-color: white;
    
    display: flex;
    flex-direction: column-reverse;

    position: relative;

    z-index: 1;
}

.sectionHeader { font-family: var(--heading-font); }

.skills { display: block; }

.experience { display: block; }

.education { 
    background: #e1eaf3;

    display: block; 
    
    margin: 0 1em 2em;
    padding: 2em 1em;    

    position: relative;

    .corner {
        border-top: 2em solid white;
        border-left: 2em solid transparent;

        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (min-width: breakpoints.$mobile) {     
    .Resume {
        padding: calc(2em + $safe-area-top) 
                 calc(2em + $safe-area-right) 
                 calc(2em + $safe-area-bottom) 
                 calc(2em + $safe-area-left);
    }
    
    .introduction {
        flex-direction: row;

        margin-bottom: 2em;
    }

    .profile {
        border-top: none;
        
        margin: 0 0 0 1em;
        padding-bottom: 0;
        padding-top: 0;

        width: calc(62% - 1em);
    }

	.photo { margin: 0 0 2em; }

    .skills {
        margin: 0;
        
        width: 100%;
    }

    .education { margin: 0 0 2em; }
}

@media (min-width: breakpoints.$laptop) {
    .Resume {
        padding: calc(4em + $safe-area-top) $safe-area-right 4em $safe-area-left;

        .inner {
            margin: 0 auto;

            max-width: 1440px;

            width: 62%;
        }   
    }

    .introduction { margin-bottom: 2em; }

    .profile, .content {
        margin: 0 0 0 2em;

        width: calc(62% - 2em);
    }

    .photo { margin-bottom: 4em; }

    .main {
        flex-direction: row;

        padding: 0;
    }

    .sectionHeader { width: fit-content; }

    .skills, .experience { padding-top: 2em; }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        height: fit-content;
        
        margin-right: 2em;

        position: sticky;
        top: 0;

        text-align: right;

        width: calc(38% - 2em);
    }

    .education { margin: 0; }
}