.Resume {
    margin: 0 auto;
    padding: 1rem;
}

.introduction {
    margin-bottom: 1rem;

    .sidebar {
        background: #e1eaf3;

        border-bottom: solid 3.5px #6a747d;

        margin-bottom: 1rem;
        padding: 1rem;
    }
}

.masthead {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.photo {
    display: block;
	width: calc(62%);
	margin: 0 auto 1rem;
}

.main {
    background-color: white;
    
    display: flex;
    flex-direction: column-reverse;

    position: relative;

    z-index: 1;
}

@media (min-width: 576px) {     
    .Resume {
        padding: 2rem;
    }
    
    .masthead { 
        flex-direction: column;
        align-items: flex-end;

        width: 62%;
    }

    .introduction {
        display: flex;

        .sidebar {
            border-bottom: solid 3.5px #6a747d;
            border-left: solid #6a747d 3.5px;

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            text-align: right;
    
            margin-right: 2rem;
            padding: 1rem;
        
            position: sticky;
            top: 2rem;
    
            height: fit-content;
            width: calc(38% - 2rem);
        }

        .content {
            padding: 1rem;
        
            width: calc(62% - 1rem);
        }
    }

	.photo {
		margin: 0 0 2rem;
	}
}

@media (min-width: 992px) {
    .Resume {
        max-width: 1440px;

        padding: 2rem 0;

        width: 62%;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        
        margin-right: 1rem;
        padding: 1rem;

        position: sticky;
        top: 0;

        height: fit-content;
        width: calc(38% - 1rem);
    }
    
    .content {
        margin-left: 1rem;
        padding: 1rem;
    
        width: calc(62% - 1rem);
    }

    .introduction {
        margin-bottom: 2rem;

        .sidebar {
            top: 0;
        }
    }

    .main {
        flex-direction: row;

        padding: 0;
    }
}