.Experience {
    border-bottom: solid 2px;

    margin-bottom: 2em;
    padding-bottom: 2em;

    &:last-child {
        border-bottom: none;
        
        margin: 0;
        padding: 0;
    }

    .projects {
        list-style-type: none;

        padding-left: 0;

        .project {
            header { font-weight: 500; }
        
            .highlights { list-style-type: disc; }
        }
    }
}