.experience {
    border-bottom: solid 2px #6a747d;

    margin-bottom: 2em;
    padding-bottom: 2em;

    &:last-child {
        border-bottom: none;
        margin: 0;
        padding: 0;
    }

    .agencyHighlights {
        list-style-type: none;

        padding-left: 0;

        .agencyHighlight {
            dd {
                margin: 0;
            }

            .client {
                font-weight: 500;
            }
            
            .agencyAchievements {
                list-style-type: disc;            
            }
        }
    }
}