@use "../../styles/breakpoints.scss";

.Footer {
    background-color: #cfd4d8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;

    position: relative;

    min-height: 100vh;
    width: calc(100% - 2rem);

    .getInTouch {
        display: flex;
        flex-direction: column;

        width: 100%
    }

    .copyright {
        font-size: 12px;

        position: absolute;
        bottom: 0.5rem;
    }
}

@media (min-width: breakpoints.$mobile) {     
    .Footer {
        padding: 0 2rem;;
        width: calc(100% - 4rem);
    }
}

@media (min-width: breakpoints.$laptop) {
    .Footer {
        padding: 0;
        
        width: 100%;    

        .getInTouch {
            width: 62%;
        }
    }
}