@use "../../styles/breakpoints.scss";

.Footer {
    background-color: #cfd4d8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 0 1rem;

    min-height: 100vh;
    width: calc(100% - 2rem);

    .copyright {
        font-size: 12px;
        
        margin-bottom: 0.5rem;
    }
}

@media (min-width: breakpoints.$mobile) {     
    .Footer {
        padding: 0 2rem;;
        width: calc(100% - 4rem);
    }
}

@media (min-width: breakpoints.$laptop) {
    .Footer {
        padding: 0;
        
        width: 100%;    
    }
}