@use "../../styles/breakpoints.scss";

.Footer {
    background-color: #cfd4d8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    min-height: calc(100vh - 4rem);
    width: calc(100% - 2rem);

    .getInTouch {
        display: flex;
        flex-direction: column;

        width: 100%
    }

    .copyright {
        font-size: 12px;
    }
}

@media (min-width: breakpoints.$mobile) {     
    .Footer {
        padding: 2rem 2rem 1rem;
        
        min-height: calc(100vh - 5rem);
        
        width: calc(100% - 4rem);

        .getInTouch {
            margin-bottom: 2rem;
        }
    }
}

@media (min-width: breakpoints.$laptop) {
    .Footer {
        min-height: calc(100vh - 3rem);

        .getInTouch {
            width: 62%;
        }
    }
}