@use "../../styles/breakpoints.scss";

.Contact {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.location, .text {
    display: none;
}

.icon {
    margin-left: 0.5rem;
    width: 1rem;
}

.Contact a .text:hover {
    font-style: italic;
}

@media (min-width: breakpoints.$mobile) {
    .Contact {
        flex-direction: column;
        align-items: flex-end;

        margin: 0;
    }

    .location, .text {
        display: inline;
    }
}