@use "../../styles/breakpoints.scss";

.Contact {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.location, .text {
    display: none;
}

.icon {
    margin-left: 0.5em;
    width: 1em;
}

.Contact a .text:hover {
    font-style: italic;
}

@media (min-width: breakpoints.$mobile) {
    .Contact {
        flex-direction: column;
        align-items: flex-end;

        margin: 0;

        .location {
            display: flex;
            align-items: center;
        }
    }

    .location, .text {
        display: inline;
    }
}