@use "../../styles/variables.scss";

.Contact {
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    a .text:hover { font-style: italic; }
}

.location, .text { display: none; }

.icon {
    margin-left: 0.5em;
    
    width: 1em;
}

@media (min-width: variables.$mobile) {
    .Contact {
        flex-direction: column;
        align-items: flex-end;

        margin: 0;

        .location {
            display: flex;
            align-items: center;
        }
    }

    .location, .text { display: inline; }
}