@use "../../styles/variables.scss";

.Header {
    background: #e1eaf3;
    
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;

    font-family: var(--heading-font);

    margin-bottom: 0;

    position: sticky;
    top: 2em;
    
    z-index: 0;
    
    .corner { display: none; }

    .inner {
        margin: 0 auto;
        padding: 1em;

        max-width: fit-content;

        .masthead {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;

            font-size: 4.6vw;

            margin-bottom: 1em;

            .separator { margin: 0 0.5em; }
        }
    }
}

@media (min-width: variables.$mobile) {     
    .Header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;

        margin: 0 1em 0 0;

        position: relative;
        top: 0;

        text-align: right;

        width: calc(38% - 1em);

        .corner {
            background-color: transparent;
            
            border-top: 2em solid white;
            border-right: 2em solid transparent;
            
            display: block;
    
            height: auto;
            width: auto;
    
            position: absolute;
            left: 0;
        }

        .inner {
            margin: 0;

            max-width: none;
            
            position: sticky;
            top: 2em;
        
            .masthead {
                flex-direction: column;

                margin-bottom: 0;
        
                word-spacing: 9999px;

                .separator { display: none; }

                .name {
                    font-size: 4.86vw;

                    margin-bottom: 0.25em;
                }

                .title {
                    font-size: 3.63764vw;

                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media (min-width: variables.$tablet) {
    .Header .inner {
        top: 0em;
    }
}

@media (min-width: variables.$laptop) {
    .Header {
        margin: 0 2em 0 0;

        width: calc(38% - 2em);

        .corner {
            border-top: 4em solid white;
            border-right: 4em solid transparent;
        }

        .inner { 
            .masthead {
                .name {
                    font-size: 3.34vw;
                }

                .title {
                    font-size: 2.49vw;
                }
            }            
        }
    }
}

@media (min-width: 2323px) {
    .Header {
        .inner {
            .masthead {
                .name {
                    font-size: var(--h4)
                }

                .title {
                    font-size: var(--h5)
                }
            }
        }
    }
}