@use "../../styles/variables.scss";

// White background
@function translucent ($r, $g, $b) {
    $min: min($r, $g, $b);
    $alpha: (255 - $min) / 255;
    @return rgba($r - $min, $g - $min, $b - $min, $alpha);
}

.downloadPDF {
    background-color: #6a747d;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: var(--page-marginTop);
        
    position: fixed;
    top: 0;
    right: 0;

    text-align: right;

    transition: all 0.2s ease-in-out;

    width: 100%;

    z-index: 9999;

    &:hover { background-color: #505A5E; }

    a {
        color: white;
        
        display: block;
        
        text-align: center;
        text-decoration: none;
        
        width: 100%;
    }
}

@media (min-width: variables.$laptop), (orientation: landscape) {
    .downloadPDF {
        background-color: transparent;
        
        border-top: calc(100px + calc(1.5 * variables.$safeAreaRight)) solid translucent(106, 116, 125);
        border-left: calc(100px + calc(1.5 * variables.$safeAreaRight)) solid transparent;
        
        position: fixed;
        right: 0;
        
        height: auto;
        width: auto;

        z-index: 9999;

        &:hover {
            background-color: transparent;
            border-top: calc(100px + calc(1.5 * variables.$safeAreaRight)) solid translucent(80, 90, 94);
        }

        a {
            color: white;

            display: block;

            font-family: arial;
            text-align: right;
            text-decoration: none;
            
            margin: 0;
            padding: 0.625em calc(0.625em + calc(variables.$safeAreaRight / 2)) 0 0;

            position: absolute;
            top: calc(-100px - variables.$safeAreaRight);
            right: 0; 
            
            width: auto;
        }
    }
}

@media (min-width: 1440px) {
    .downloadPDF {
        border-top: calc(200px + calc(1.5 * variables.$safeAreaRight)) solid translucent(106, 116, 125);
        border-left: calc(200px + calc(1.5 * variables.$safeAreaRight)) solid transparent;
    
        &:hover {
            background-color: transparent;
            border-top: calc(200px + calc(1.5 * variables.$safeAreaRight)) solid translucent(80, 90, 94);
        }

        a {
            top: calc(-200px - variables.$safeAreaRight);
        }
    }
}