.Resume {
    margin: 0 auto;
    padding: 1rem;
}

.contact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.photo {
	display: block;
	width: 62%;
	margin: 0 auto 1rem;
}

.sectionHeading {
	border-bottom: solid 2px black;
}

.text {
    display: none;
}

.icon {
    margin-left: 0.5rem;
    width: 1rem;
}

.main {
    background-color: white;
    
    display: flex;
    flex-direction: column-reverse;

    position: relative;

    z-index: 1;
}

@media (min-width: 576px) {
    .introduction {
        display: flex;
    }

	.photo {
		margin: 0 0 1rem;
	}

	.contact {
		flex-direction: column;
	}

    .text {
        display: inline;
    }

	 .introduction .sidebar {
        text-align: right;

			padding: 1rem;
    
        position: sticky;
        top: 0;

        height: fit-content;
        width: 38%;
    }

	.introduction .content {
		padding: 1rem;
    
        width: 62%;
	}
}

@media (min-width: 992px) {
    .Resume {
        max-width: 1440px;
        width: 62%;
    }

    .sidebar {
        padding: 1rem;
    
        position: sticky;
        top: 0;

        height: fit-content;
        width: 38%;
    }
    
    .content {
        padding: 1rem;
    
        width: 62%;
    }

    .main {
        flex-direction: row;
    }
}