@use "../styles/breakpoints.scss";

.downloadPDF {
    height: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #6a747d;
    position: fixed;
    top: 0;
    text-align: right;
    width: 100%;
    right: 0;
    z-index: 9999;

    a {
        text-decoration: none;
        display: block;
        color: white;
        width: 100%;
        text-align: center;
    }

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #505A5E;   
    }
}

@media (min-width: breakpoints.$laptop), (orientation: landscape) {
    .downloadPDF {
        border-top: calc(100px + calc(2 * env(safe-area-inset-right))) solid #6a747d;
        border-left: calc(100px + calc(2 * env(safe-area-inset-right))) solid transparent;
        position: fixed;
        right: 0;
        z-index: 9999;
        background-color: transparent;
        height: auto;
        width: auto;

        a {
            position: absolute;
            top: calc(-100px - env(safe-area-inset-right));
            right: 0;
            text-align: right;
            font-family: arial;
            display: block;
            color: white;
            padding: 0.5rem calc(0.5rem + calc(env(safe-area-inset-right) / 2)) 0 0;
            text-decoration: none;
            margin: 0;
            width: auto;
        }

        &:hover {
            background-color: transparent;
            border-top: calc(100px + calc(2 * env(safe-area-inset-right))) solid #505A5E;
        }
    }
}