.Resume {
    margin: 0 auto;
    padding: 2rem;
}

.introduction {
    margin-bottom: 1rem;
}

.contact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.photo {
	display: block;
	width: 62%;
	margin: 0 auto 2rem;
}

.sectionHeading {
	border-bottom: solid 2px #363636;
}

.main {
    background-color: white;
    
    display: flex;
    flex-direction: column-reverse;

    position: relative;

    z-index: 1;
}

@media (min-width: 576px) {
    .Resume {
        padding-top: 0;
    }

    .introduction {
        display: flex;
    }

	.photo {
		margin: 0 0 2rem;
	}

	.contact {
		flex-direction: column;
	}

    .text {
        display: inline;
    }

    .introduction .sidebar {
        text-align: right;

        padding: 2rem 1rem 0 0;
    
        position: sticky;
        top: 0;

        height: fit-content;
        width: 38%;
    }

	.introduction .content {
		padding: 2rem 0 0 1rem;
    
        width: 62%;
	}
}

@media (min-width: 992px) {
    .Resume {
        padding: 0;
    }

    .sectionHeading {
        border-bottom: solid 3px #363636;
    }

    .Resume {
        max-width: 1440px;
        width: 62%;
    }

    .introduction {
        margin-bottom: 3rem;
    }

    .introduction .sidebar {
        padding: 4rem 2rem 0 0;
    }

	.introduction .content {
		padding: 4rem 0 0 2rem;
	}

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: right;

        padding-right: 2rem;
    
        position: sticky;
        top: 0;

        height: fit-content;
        width: 38%;
    }
    
    .content {
        padding-left: 2rem;
    
        width: 62%;
    }

    .main {
        flex-direction: row;

        padding: 0;
    }
}